<!DOCTYPE html>
<html>
  <head>
    <title>{{resource_name}} API</title>
    <link rel="stylesheet" href="{{url_prefix}}/assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="{{url_prefix}}/assets/stylesheets/codemirror.css"/>
    <link rel="stylesheet" href="{{url_prefix}}/assets/stylesheets/application.css"/>
    <script src="{{url_prefix}}/assets/javascripts/jquery-1-7-2.js"></script>
    <script src="{{url_prefix}}/assets/javascripts/codemirror.js"></script>
    <script src="{{url_prefix}}/assets/javascripts/mode/css/css.js"></script>
    <script src="{{url_prefix}}/assets/javascripts/mode/htmlmixed/htmlmixed.js"></script>
    <script src="{{url_prefix}}/assets/javascripts/mode/javascript/javascript.js"></script>
    <script src="{{url_prefix}}/assets/javascripts/mode/xml/xml.js"></script>
    <script>
      function mirror(textarea, contentType, options) {
        $textarea = $(textarea);
        if ($textarea.val() != '') {
          if(contentType.indexOf('json') >= 0) {
            $textarea.val(JSON.stringify(JSON.parse($textarea.val()), undefined, 2));
            options.json = true;
            options.mode = 'javascript';
          } else if (contentType.indexOf('javascript') >= 0) {
            options.mode = 'javascript';
          } else if (contentType.indexOf('xml') >= 0) {
            options.mode = 'xml';
          } else {
            options.mode = 'htmlmixed';
          }
        }
        return CodeMirror.fromTextArea(textarea, options);
      };

      $(function(){
        $(".request.body").each(function(i, el) {
          el = $(el);
          mirror(el.find("textarea")[0], el.data("content-type"), { "readOnly": true, "lineNumbers": true });
        });
        $(".response.body").each(function(i, el) {
          el = $(el);
          mirror(el.find("textarea")[0], el.data("content-type"), { "readOnly": true, "lineNumbers": true });
        });
      });
    </script>
    <style>
      td.required .name:after {
        float: right;
        content: "required";
        font-weight: normal;
        color: #F08080;
      }

      p {
        padding: 15px;
        font-size: 130%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{{resource_name}} API</h1>

      <div class="article">
        <h2>{{ description }}</h2>
        <h3>{{ http_method }} {{ route }}</h3>
        {{# explanation }}
          <p class="explanation">
            {{ explanation }}
          </p>
        {{/ explanation }}

        {{# has_parameters? }}
          <h3>Parameters</h3>
          <table class="parameters table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{# parameters }}
              <tr>
                <td{{# required }} class="required"{{/ required }}>
                  <span class="name">{{ name }}</span>
                </td>
                <td>
                  <span class="description">{{ description }}</span>
                </td>
              </tr>
              {{/ parameters }}
            </tbody>
          </table>
        {{/ has_parameters? }}

        {{# requests }}
          <h3>Request</h3>

          <h4>Headers</h4>
          <pre class="request headers">{{ request_headers_text }}</pre>

          <h4>Route</h4>
          <pre class="request route highlight">{{ request_method }} {{ request_path }}</pre>

          {{# request_query_parameters_text }}
            <h4>Query Parameters</h4>
            <pre class="request query_parameters highlight">{{ request_query_parameters_text }}</pre>
          {{/ request_query_parameters_text }}

          {{# request_body }}
            <h4>Body</h4>
            <div class="request body" data-content-type="{{ response_content_type }}"><textarea>{{{ request_body }}}</textarea></div>
          {{/ request_body }}

          {{# curl }}
            <h4>cURL</h4>
            <pre class="request">{{ curl }}</pre>
          {{/ curl }}

          {{# response_status }}
            <h3>Response</h3>
            <h4>Headers</h4>
            <pre class="response headers">{{ response_headers_text }}</pre>
            <h4>Status</h4>
            <pre class="response status">{{ response_status }} {{ response_status_text}}</pre>
            {{# response_body }}
              <h4>Body</h4>
              <div class="response body" data-content-type="{{ request_content_type }}"><textarea>{{{ response_body }}}</textarea></div>
            {{/ response_body }}
          {{/ response_status }}
        {{/ requests }}
      </div>
    </div>
  </body>
</html>
