<html>
  <head>
    <title>API Documentation</title>
    <link rel="stylesheet" href="http://zipmark.github.com/rspec_api_documentation/css/1.3.0/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>API Documentation</h1>

      {{# sections }}
        <div class="article">
          <h2>{{ resource_name }}</h2>

          <ul>
            {{# examples }}
              <li>
                <a href="{{ url_prefix }}{{ dirname }}/{{ filename }}">{{ description }}</a>
              </li>
            {{/ examples }}
          </ul>
        </div>
      {{/ sections }}
    </div>
  </body>
</html>
