<html>
  <head>
    <title>{{resource_name}} API</title>
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../assets/stylesheets/application.css" />
    <script src="../assets/javascripts/jquery-1-7-2.js"></script>
    <script src="../assets/javascripts/jquery-ui-1-8-16-min.js"></script>
    <script src="../assets/javascripts/application.js"></script>
    <script>
      $(function () {
        $('.give_it_a_whurl').click(function (elem) {
          $form = $(elem.currentTarget.form);
          $.ajax({
            type:$form.find('#whurl_request_method').val(),
            url:$form.find('#whurl_request_url').val(),
//            data:"dataString",
            complete:function (jqXHR, textStatus) {
              console.log(textStatus);
            }
          });
          return false;
        });
      });
    </script>
    <style>
      td.required .name:after {
        float: right;
        content: "required";
        font-weight: normal;
        color: #F08080;
      }

      p {
        padding: 15px;
        font-size: 130%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{{resource_name}} API</h1>

      <div class="article">
        <h2>{{ description }}</h2>
        {{# explanation }}
          <p class="explanation">
            {{ explanation }}
          </p>
        {{/ explanation }}

        {{# has_parameters? }}
          <h3>Parameters</h3>
          <table class="parameters">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{# parameters }}
              <tr>
                <td{{# required }} class="required"{{/ required }}>
                  <span class="name">{{ name }}</span>
                </td>
                <td>
                  <span class="description">{{ description }}</span>
                </td>
              </tr>
              {{/ parameters }}
            </tbody>
          </table>
        {{/ has_parameters? }}

        {{# requests }}
          <h3>Request</h3>
          <h4>Headers</h4>
          <pre class="request headers">{{ request_headers }}</pre>
          <h4>Route</h4>
          <pre class="request route highlight">{{ method }} {{ route }}</pre>
          {{# request_query_parameters }}
            <h4>Query Parameters</h4>
            <pre class="request query_parameters highlight">{{ request_query_parameters }}</pre>
          {{/ request_query_parameters }}
          {{# request_body }}
            <h4>Body</h4>
            <div class="request body">{{{ request_body }}}</div>
          {{/ request_body }}

          {{# curl }}
            <h4>cURL</h4>
            <pre class="request">{{ curl }}</pre>
          {{/ curl }}

          {{# response_status }}
            <h3>Response</h3>
            <h4>Headers</h4>
            <pre class="response headers">{{ response_headers }}</pre>
            <h4>Status</h4>
            <pre class="response status">{{ response_status }} {{ response_status_text}}</pre>
            {{# response_body }}
              <h4>Body</h4>
              <div class="response body">{{{ response_body }}}</div>
            {{/ response_body }}
          {{/ response_status }}
          <h3>Console</h3>

        <div class="whurl_form" id="whurl_form">
          <form accept-charset="UTF-8" class="new_whurl" id="new_whurl">
            <div class="row">
              <div class="section_title">
                URL
              </div>
              <div class="url">
                <select id="whurl_request_method" name="whurl[request_method]">
                  <option value="{{ method }}" selected="true">{{ method }}</option>
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="PUT">PUT</option>
                  <option value="DELETE">DELETE</option>
                  <option value="HEAD">HEAD</option>
                </select>
                /
                <input id="whurl_request_url" name="whurl[request_url]" size="30" type="text" value="{{ route }}">
              </div>
            </div>
            <div class="row">
              <div class="section_title">
                Basic Auth
              </div>
              <div class="fields">
                <div class="field_pair">
                  <input id="whurl_basic_auth_user" name="whurl[basic_auth_user]" placeholder="username" size="30"
                         type="text">
                  <input id="whurl_basic_auth_password" name="whurl[basic_auth_password]" placeholder="password"
                         size="30" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="section_title">
                <a class="button icon_only trash trash_headers ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                   title="trash all headers" role="button"><span
                    class="ui-button-icon-primary ui-icon ui-icon-trash"></span><span class="ui-button-text"></span></a>
                <a class="add add_header button icon_only ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                   title="add another header" role="button"><span
                    class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span><span class="ui-button-text"></span></a>
                Headers
              </div>
              <div class="headers">
                <div class="header_pair">
                  <input class="key ui-autocomplete-input" disabled="disabled" id="header_keys_" name="header_keys[]"
                         type="text" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                  <input class="value" disabled="disabled" id="header_values_" name="header_values[]" type="text">
                  <a class="delete_header destroy button icon_only ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                     role="button" title=""><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span
                      class="ui-button-text"></span></a>
                </div>

                <div class="header_pair">
                  <input class="key ui-autocomplete-input" id="header_keys_" name="header_keys[]" type="text"
                         autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                  <input class="value" id="header_values_" name="header_values[]" type="text">
                  <a class="delete_header destroy button icon_only ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                     role="button" title=""><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span
                      class="ui-button-text"></span></a>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="section_title">
                <a class="button icon_only trash trash_queries ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                   title="trash all parameters" role="button"><span
                    class="ui-button-icon-primary ui-icon ui-icon-trash"></span><span class="ui-button-text"></span></a>
                <a class="add add_param button icon_only ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                   title="add another parameter" role="button"><span
                    class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span><span class="ui-button-text"></span></a>
                Query
              </div>
              <div class="params">
                <div class="param_pair">
                  <input class="key" disabled="disabled" id="param_keys_" name="param_keys[]" type="text">
                  <input class="value" disabled="disabled" id="param_values_" name="param_values[]" type="text">
                  <a class="delete_param destroy button icon_only ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                     role="button" title=""><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span
                      class="ui-button-text"></span></a>
                </div>

                <div class="param_pair">
                  <input class="key" id="param_keys_" name="param_keys[]" type="text">
                  <input class="value" id="param_values_" name="param_values[]" type="text">
                  <a class="delete_param destroy button icon_only ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                     role="button" title=""><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span
                      class="ui-button-text"></span></a>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="section_title">
                Body
              </div>
              <div class="post_body">
                <textarea cols="40" id="whurl_request_body" name="whurl[request_body]" rows="20" disabled="disabled"
                          class="textarea_disabled"></textarea>
              </div>
            </div>
            <div class="button_row">
              <input class="clear_fields ui-button ui-widget ui-state-default ui-corner-all" id="clear_fields"
                     type="button" value="Clear" role="button" aria-disabled="false">
              <input class="give_it_a_whurl" type="submit" value="Give it a Whurl!"
                     class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
            </div>
          </form>
        </div>
        {{/ requests }}
      </div>
    </div>
  </body>
</html>
