---
id: {{ id }}
title: {{ api_name }} Index
---


# {{ api_name }}
{{{ api_explanation }}}

{{# sections }}
## {{ resource_name }}
{{# resource_explanation }}

{{{ resource_explanation }}}
{{/ resource_explanation }}

{{# examples }}
* [{{ description }}]({{ dirname }}/{{ filename }})
{{/ examples }}

{{/ sections }}
