#wurl_request_body {
    width: 432px;
}

.CodeMirror {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 12px;
    line-height: 15px;
}

.CodeMirror-cursor {
    display: none;
}

.CodeMirror-scroll {
    height: auto;
    overflow: visible;
}

.CodeMirror-gutter {
    border-right: 1px solid #ccc;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.CodeMirror-gutter-text {
    text-align: center;
    padding-left: 0;
    padding-right: 5px;
    color: #333;
}

.response.body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0 0 0 5px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}